nav ul{
    list-style-type: none;
}
  
nav li{
    display: inline;
    padding-right: 20px;
}
  
nav{
    background-color: #c1d7f7;
    padding: 25px 0;    
    text-align: center;   
}
.nav_links a{
    color: black;
    margin-left: 2px;
    margin: 2px;
    text-decoration: none;
}
.nav_links a:hover {
    background-color: #f3e039;
    color: black;
}
.nav_links .current{
    background-color: black;
    color: white;
    text-decoration: underline;
}
body {
    background: rgb(235, 241, 181);
    color:black;
    margin: 0;
    padding: 0;
}
header {
    background: black;
    padding: 20px;
}
a:visited{
    color: blue;
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    padding-top: 20px;
    padding-bottom: 15px;
    text-align: center;
}


.soccer-pics{
    grid-column: 1 / -1;
    /* max-height: 600px;
    max-width: 1000px; */
    grid-row: 2 / span 1;
    overflow: hidden;
    height: auto;
    width: auto;
}

.home-text{
    align-self: center;
    background-color: rgb(235, 241, 181);
    border: 10px solid black;
    padding: 40px;
}
.contact-text{
    align-self: center;
    background-color: rgb(235, 241, 181);
    border: 10px solid black;
    padding: 40px;
}